
<script nonce="{{request.csp_nonce}}">

var availableTags = [[
    {% for cliente in personas_query %}
    [
      "{{cliente.nombre}} - {{cliente.cedula}}",
      "{{cliente.pk}}",
    ],
    {% endfor %}
    ],
    "{{evento.slug}}"
];
var reducedAvailableTags = [[
    {% for cliente in personas_invitadas %}
    [
      "{{cliente.nombre}} - {{cliente.cedula}}",
      "{{cliente.pk}}",
    ],
    {% endfor %}
    ],
    "{{evento.slug}}"
];
autocomplete(document.getElementById("searchbar"), reducedAvailableTags);
document.getElementById("searchbar").value = "{{keyword}}";
window.addEventListener("load",function() {
    try{
        document.getElementById("invi_persona").addEventListener("keyup", delay(getPersonData, 500));
        document.getElementById("invi_persona").autocomplete = 'off';
        document.getElementById("invi_cedula").addEventListener("keyup", delay(getPersonData, 500));
        document.getElementById("invi_cedula").autocomplete = 'off';
    }
    catch (error) {

    }
});

function delay(callback, ms) {
  var timer = 0;
  return function() {
    var context = this, args = arguments;
    clearTimeout(timer);
    timer = setTimeout(function () {
      callback.apply(context, args);
    }, ms || 0);
  };
}

function getPersonData(e) {
    var name = e.target.id;
    var val = e.target.value;
    var cedula = document.getElementById("invi_cedula").value;
    var csrftoken = getCookie('csrftoken');
    var data = {
              csrfmiddlewaretoken: '{{ csrf_token }}'
          };
    data[name] = val;
    $.ajax({
          type: "POST",
          url: "/api/search/persona/",
          dataType: "json",
          data: data,
          success: function(data) {
             form_autocomplete(e.target, [data.personas]);
          }
      });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>