{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<h2 class="title is-2"> Algo salió mal </h2>

<div class="middle-window">
<p class="body-content left">
Detectamos un problema con tu navegador.
<br>
Para solucionarlo, podés probar lo siguiente:
<ul class="body-list">
    <li> Comprobá que no tengas este sitio abierto en varias pestañas/ventanas a la vez. </li>
    <li> Eliminá todas las cookies y datos de este sitio. </li>
    <li> Recargá la página e intentalo nuevamente. </li>
</ul>
<br>
<br>
<p class="body-content left small">

Si seguís viendo este error, contactá con tu administrador.

</p>
</div>
{% endblock %}