{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="title is-2">Log In</h2>
<form class="body-form" id="login-form" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    <label class="label">{{field.label}}</label>
    <div class="control">{{field}}</div>
  </div>
  {% endfor %}
  <div class="field">
  <button class="button" type="submit">Log In</button>
  </div>
  <a href="{% url 'password_reset' %}">Olvidaste la contraseña?</a>
</form>
{% include 'google_captcha_setup.html' %}
{% endblock %}