{% load i18n %}{% autoescape off %}
Estás recibiendo éste mail porque se solicitó reestablecer la contraseña para tu cuenta en {{ site_name }}.

Si no la solicitaste, podés ignorar este email.

Por favor, seguí el link a continuación para reestablecer tu contraseña.
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Tu usuario es, en caso que te lo hayas olvidado, {{ user.get_username }}

Gracias!

El equipo de Ejumina.

{% endautoescape %}
