<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}
{% load i18n %}
{% block title %}Ingresá una contraseña nueva{% endblock %}

{% block content %}

{% if validlink %}

<h1 class="title is-2">Ingresá tu contraseña nueva:</h1>
<h3 class="title is-5">
    <li>Debe tener al menos 8 caracteres.</li>
    <li>No puede parecerse a tu usuario.</li>
    <li>No puede ser puramente numérico.</li>
</h3>

<form class="body-form" method="POST">
  {% csrf_token %}
  <div class="field">
    <label class="label">Contraseña nueva: </label>
    <div class="control">{{form.new_password1}}</div>
    {% blocktranslate %} <p class="help errors">{% for error in form.new_password1.errors %} <li>{{error}}</li>{% endfor %}</p> {% endblocktranslate %}
  </div>
  <div class="field">
    <label class="label">Repite la contraseña</label>
    <div class="control">{{form.new_password2}}</div>
     <p class="help errors">{% for error in form.new_password2.errors %} {% blocktranslate %}<li>{{error}}</li>{% endblocktranslate %}{% endfor %}</p>
  </div>
 {% for field in form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
  <div class="field">
  <input type="submit" class="button is-info" value="Cambiar mi contraseña">
  </div>
</form>

{% else %}

<p>Este link ya es inválido. Solicitá un nuevo cambio de contraseña para recibir un link nuevo.</p>

{% endif %}
{% endblock %}