<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title %}Ingresá una contraseña nueva{% endblock %}

{% block content %}

{% if validlink %}

<h1>Ingresa tu contraseña nueva:</h1>
<form class="body-form" method="POST">
  {% csrf_token %}
    {% for field in form %}
  <div class="field">
    <label class="label">{{field.label}}</label>
    <div class="control">{{field}}</div>
  </div>
  {% endfor %}

 {% for field in form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
  <div class="field">
  <input type="submit" value="Change my password">
  </div>
</form>

{% else %}

<p>Este link ya es inválido. Solicitá un nuevo cambio de contraseña para recibir un link nuevo.</p>

{% endif %}
{% endblock %}