{% extends 'base.html' %}
{% load i18n %}

{% block title %}Ejumina{% endblock %}

{% block content %}
  <h1 class="title is-1">Revisá tu Inbox. </h1>
<div class="body-form">
<p>Si el mail que ingresaste se corresponde con un usuario registrado, ya se envió el correo con las instrucciones para restablecer la contraseña.</p>
<p>Si no recibís el mail, asegurate que ingresaste correctamente el mail, o contacta con un administrador para confirmar que tu dirección de correo esté correctamente asociada con tu usuario.</p>
</div>
{% endblock %}