{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="title is-2">Personas </h2>
{% include 'eventos/tablas/tabla_personas_noevent.html' %}
<script nonce="{{request.csp_nonce}}">
    function openEditModal(pk, nombre, cedula) {
        editModal = document.getElementById("edit-dialog");
        document.getElementById("{{edit_form.nombre.id_for_label}}").value = nombre;
        document.getElementById("{{edit_form.cedula.id_for_label}}").value = cedula;
        document.getElementById("edit-edit").value = pk;
        editModal.classList.add("is-active");
    };
</script>
{% endblock %}


{% block dialog %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="modal" id="form-dialog">
      <div class="modal-content is-fullheight">
          <span id='form-close' class="close">&times;</span>

            <form class="modal-form" id="persona-form" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/persona-form.html' with form=form %}
                <div class="control">
                <input type="submit" class="button is-info" value="Crear Persona">
                </div>
            </form>

      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}

<div class="modal" id="edit-dialog">
      <div class="modal-content is-fullheight">
          <span id='edit-close' class="close">&times;</span>

            <form class="modal-form" id="edit-form" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/persona-form.html' with form=edit_form %}
                <div class="control">
                <input type="submit" class="button is-info" value="Editar Persona">
                </div>
                <input type="hidden" name="edit" id="edit-edit" value="">
            </form>

      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='edit' noBtn=1 %}
{% endblock %}