{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}

{% block breadcrumbs %}
    <li class="is-active"><a href="#">Eventos</a></li>
{% endblock %}

{% block content %}

<script src="{% static 'js/sort.js' %}"></script>
<h1 class="title is-1"> Eventos </h1>
{% include 'eventos/tablas/tabla_eventos.html' %}

{% if form %}

{% endif %}
{% endblock %}

{% block dialog %}
{% if request.user|has_group:"admin" %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>
<div class="modal" id="form-dialog">
      <div class="modal-content is-fullheight">
          <span id='form-close' class="close">&times;</span>
            <form class="modal-form" action="" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/evento-form.html' %}
                <div class="control">
                <input type="submit" class="button is-info" value="Crear Evento">
                </div>
            </form>
      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}
<div class="modal" id="edit-dialog">
      <div class="modal-content is-fullheight">
          <span id='edit-close' class="close">&times;</span>
            <form class="modal-form" id="edit-form" action="" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/evento-form.html' with form=edit_form %}
                <div class="control">
                    <input type="submit" class="button is-info" value="Editar Evento">
                </div>
                <input type="hidden" name="edit" id="id_evento" value="">
            </form>
                <button class="button is-danger" id="delete_evento_btn">
                    Borrar Evento
                </button>

      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='edit' noBtn=1%}
<script nonce="{{request.csp_nonce}}">
    function openEditModal(id, name, fecha){
        checkinModal = document.getElementById("edit-dialog");
        checkinModal.classList.add("is-active");
        document.getElementById("{{edit_form.name.id_for_label}}").value=name;
        document.getElementById("{{edit_form.fecha.id_for_label}}").value=fecha;
        document.getElementById("id_evento").value=id;
        document.getElementById("delete_evento_btn").remove();
        btn = document.createElement("button");
        btn.classList.add("button");
        btn.classList.add("is-danger");
        btn.innerHTML = "Borrar Evento";
        btn.id = "delete_evento_btn";
        btn.addEventListener("click", function () {
            openDeleteModal(id, name);
        });
        document.getElementById("edit-form").after(btn);
    };
</script>
<div class="modal" id="delete-dialog">
      <div class="modal-content is-fullheight">
          <span id='delete-close' class="close">&times;</span>
          <p class="modal-title"><b>Atención!</b></p>
          <p class="modal-text">Al borrar un evento se perderá <b>toda</b> la información de invitaciones y frees asociadas a este evento </p>
          <p class="modal-text">Escribí <b>"<span id="delete_evento_help"></span>"</b> y apretá el botón si estás seguro de querer borrar el evento:</span></p>
            <form class="modal-form" action="" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/evento-form.html' with form=delete_form %}
                <div class="control">
                    <input type="submit" class="button is-danger" value="Borrar Evento">
                </div>
                <input type="hidden" name="delete_evento" id="delete_evento" value="">
            </form>
      </div>
</div>
<script nonce="{{request.csp_nonce}}">
    function openDeleteModal(id, name){
        deleteModal = document.getElementById("delete-dialog");
        deleteModal.classList.add("is-active");
        document.getElementById("delete_evento").value=id;
        document.getElementById("delete_evento_help").innerHTML=name;
    };
</script>
{% include 'eventos/setups/modal_setup.html' with ModalName='delete' noBtn=1%}
{% endif %}
{% endblock %}