{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>

<input class="input" id="searchbar" type="text">
<button class="button" id="search-button">Search</button>
{% include 'eventos/tablas/tabla_usuarios.html' %}
{% include 'eventos/setups/autocomplete_setup.html' %}

<h5 class="title is-5"> Agregar Usuario: </h5>

<form class="body-form" action="" method="post">
    {% csrf_token %}
    {% include 'eventos/forms/new-user-form.html' %}
</form>
{% endblock %}
