{% extends 'base.html' %}
{% load static %}
{% block breadcrumbs %}
    <li class="is-active"><a href="#">Eventos</a></li>
{% endblock %}

{% block content %}
<script src="{% static 'js/sort.js' %}"></script>

<h1 class="title is-1"> Eventos </h1>
{% include 'eventos/tablas/tabla_eventos.html' %}
{% include 'eventos/setups/autocomplete_setup.html' %}

{% if form %}
<form class="body-form" action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="button is-info" value="Crear Evento">
</form>
{% endif %}
{% endblock %}
