{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}

{% block breadcrumbs %}
    <li class="is-active"><a href="#">Eventos</a></li>
{% endblock %}

{% block content %}

<script src="{% static 'js/sort.js' %}"></script>
<h1 class="title is-1"> Eventos </h1>
{% include 'eventos/tablas/tabla_eventos.html' %}

{% if form %}

{% endif %}
{% endblock %}

{% block dialog %}
{% if request.user|has_group:"admin" %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>
<div class="modal" id="form-dialog">
      <div class="modal-content is-fullheight">
          <span id='form-close' class="close">&times;</span>
            <form class="modal-form" action="" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/evento-form.html' %}
                <div class="control">
                <input type="submit" class="button is-info" value="Crear Evento">
                </div>
            </form>
      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}
<div class="modal" id="edit-dialog">
      <div class="modal-content is-fullheight">
          <span id='edit-close' class="close">&times;</span>
            <form class="modal-form" action="" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/evento-form.html' with form=edit_form %}
                <div class="control">
                    <input type="submit" class="button is-info" value="Editar Evento">
                </div>
                <input type="hidden" name="edit" id="id_evento" value="">
            </form>
      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='edit' noBtn=1%}
<script nonce="{{request.csp_nonce}}">
    function openEditModal(id, name, fecha){
        checkinModal = document.getElementById("edit-dialog");
        checkinModal.classList.add("is-active");
        document.getElementById("{{edit_form.name.id_for_label}}").value=name;
        document.getElementById("{{edit_form.fecha.id_for_label}}").value=fecha;
        document.getElementById("id_evento").value=id;
    };
</script>
{% endif %}
{% endblock %}