{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>

<input class="input" id="searchbar" type="text">
<button class="button" id="search-button">Search</button>
{% include 'eventos/tablas/tabla_usuarios.html' %}
{% include 'eventos/setups/autocomplete_setup.html' %}

{% endblock %}

{% block dialog %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="modal" id="form-dialog">
      <div class="modal-content is-fullheight">
          <span id='form-close' class="close">&times;</span>

            <form class="modal-form" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/new-user-form.html' %}
            </form>

      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}

{% endblock %}