{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="title is-2">Personas </h2>
{% include 'eventos/tablas/tabla_personas_noevent.html' %}

{% endblock %}


{% block dialog %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="modal" id="form-dialog">
      <div class="modal-content is-fullheight">
          <span id='form-close' class="close">&times;</span>

            <form class="modal-form" method="post">
                {% csrf_token %}
                {% include 'eventos/forms/persona-form.html' %}
            </form>

      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}

{% endblock %}