{% extends 'base.html' %}
{% load static %}

{% block content %}

    <table class="tabla_personas">
        {% for persona in personas %}
            <tr>
                <td>
                    {{persona.nombre}}
                </td>
                <td>
                    {% for grupo in persona.grupo_set.all %}
                        {{grupo.nombre}}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <form method="POST" action="">
                       {% csrf_token %}
                        <input type="hidden" name="delete" value="{{persona.pk}}">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"> </input>
    </form>

{% endblock %}