<script nonce="{{request.csp_nonce}}">
// Get the modal
var modal_{{ModalName}} = document.getElementById("{{ModalName}}-dialog");
// Get the button that opens the modal
var btn_{{ModalName}} = document.getElementById("add-{{ModalName}}");

// Get the <span> element that closes the modal
var span_{{ModalName}} = document.getElementById("{{ModalName}}-close");

// When the user clicks on the button, open the modal
btn_{{ModalName}}.onclick = function() {
  modal_{{ModalName}}.classList.add('is-active');
}

// When the user clicks on <span> (x), close the modal
span_{{ModalName}}.onclick = function() {
  modal_{{ModalName}}.classList.remove('is-active');
}
document.body.addEventListener("keydown", function(event) {
  // If the user presses the "Enter" key on the keyboard
  if (event.key === "Escape") {
     modal_{{ModalName}}.classList.remove('is-active');
    }
});
// When the user clicks anywhere outside any modal, close all modals
window.onclick = function(event) {
    var all_modals = Array.from(document.getElementsByClassName("modal"));
    if (all_modals.includes(event.target)) {
        all_modals.map(e => {e.style.display='none';});
    }
}
</script>