{% extends 'base.html' %}
{% load auth_extras %}
{% load static %}
{% block breadcrumbs %}
<li class=""><a href="#">Eventos</a></li>
<li class="is-active"><a href="/e/{{evento.pk}}">{{evento.name}}</a></li>
{% endblock %}

{% block content %}
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/form_autocomplete.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>


<p class="title is-1">
    {{evento.name}} &nbsp; &nbsp;
    {% if request.user|has_group:'admin' %}
    <a href="/e/{{evento.slug}}/frees" class="plus-button yellow is-info"><i class="fa fa-ticket"></i></a>
    {% endif %}
</p>
<div class="container body-content">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <h4 class="title is-3">
                Invitados: {{invi_dadas}}
            </h4>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h4 class="title is-3">
                Checked-in: {{checked_in}}
            </h4>
        </div>
        <div class="column">
            <h4 class="title is-3">
                Frees: {{frees_dados}}/{{frees_total}}
            </h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="field has-addons">
        <div class="control">
            <input class="input searchbar " id="searchbar" type="text">
        </div>
        <div class="control">
            <button class="button searchbar"><i class="fa fa-search"></i></button>
        </div>
    </div>
{% if query_key %}
<button class="button filter-button"><i> Filtro: '{{query_key}}'</i> &nbsp; &nbsp; <i
        class="fa fa-close"></i></button>
{% endif %}

</div>
<script nonce="{{request.csp_nonce}}">

    document.addEventListener('DOMContentLoaded', function() {
        {% if query_key %}
        var button = document.querySelector('.filter-button.button');
        button.addEventListener('click', function () { search('delete'); });
        {% endif %}
        button = document.querySelector('.searchbar.button')
        button.addEventListener('click', function () { search(''); });
    });

    function search(do_delete) {
      if(do_delete){
        var key = '';
      }
      else{
        var key = document.getElementById("searchbar").value;
      }

      var url = window.location.href;

      // Remove any existing persona parameter
        if (url.includes('persona=')) {
            url = url.replace(/(persona=).*?(&|$)/, '$1'+key.replace(/ /g,'')+'$2');
        }
        else{
            url += (url.includes('?') ? '&' : '?') + "persona="+key.replace(/ /g,'');
        }

      // Check if page parameter is already present
      if (url.includes('page=')) {
        if(key){
            // Modify page parameter to 1 and add persona parameter
            url = url.replace(/(page=).*?(&)/, '$1' +'1'+'$2');
        }
      }
      else {
        url += (url.includes('?') ? '&' : '?') + "page=1";
      }

      window.location.href = url;
    }

    document.getElementById("searchbar").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            search('');
        }
    });


</script>


<div class="table-container">
    {% include 'eventos/tablas/tabla_personas.html' %}
</div>
{% include 'eventos/setups/autocomplete_setup.html' %}

{% endblock %}

{% block dialog %}
{% if request.user|has_group:"admin" or request.user|has_group:"rrpp" %}
<div class="button-container">
    <button id="add-lista" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="modal{% if persona_form.errors %} is-active {% endif %}" id="lista-dialog">
    <div class="modal-content">
        <span id='lista-close' class="close">&times;</span>
        <form class="modal-form" id='invi-form' method="post" action="">
            {% csrf_token %}
            {% include 'eventos/forms/invitacion-form.html' with form=persona_form %}
        </form>
    </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='lista'%}
<script nonce="{{request.csp_nonce}}">
    var inputValidator = {
      "persona": false,
      "cedula": false,
    }

    var form = document.getElementById('invi-form');
    var inputs = form.querySelectorAll('input');
    inputs.forEach((input) => {
        input.addEventListener('input', () => {
            checkForm(event.target);
        })
    });
    function checkForm(t) {
            let form = document.getElementById('invi-form');
            let inputs = form.querySelectorAll('input');
            let buttonSend = form.getElementsByClassName('is-info')[0];
            for(i=0;i<inputs.length;i++){
                name = inputs[i].getAttribute('name');
                if(Object.keys(inputValidator).includes(name)){
                    if (inputs[i].value.length > 0) {
                      inputValidator[name] = true;
                    } else {
                      inputValidator[name] = false;
                    };
                }
            }
            let allTrue = Object.keys(inputValidator).every((item) => {
              return inputValidator[item] === true
            });
            let frees = Number(document.getElementById('invi_frees').value);
            let invis = Number(document.getElementById('invi_invitaciones').value);
            if (allTrue && frees+invis>0) {
              buttonSend.disabled = false;
            } else {
              buttonSend.disabled = true;
            }
    };


</script>
{% endif %}
{% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
<div class="modal" id="checkin-dialog">
    <div class="modal-content">
        <span id='checkin-close' class="close">&times;</span>
        <form class="modal-form" id="checkin-form" method="post" action="">
            {% csrf_token %}
            {% include 'eventos/forms/checkin-form.html' with form=checkin_form %}
        </form>
    </div>
</div>
<script nonce="{{request.csp_nonce}}">

    var form = document.getElementById('checkin-form');
    var inputs = form.querySelectorAll('input');
    inputs.forEach((input) => {
        input.addEventListener('input', (event) => {
            checkCheckInForm(event.target);
        })
    });
    function checkCheckInForm(t) {
            let form = document.getElementById('checkin-form');
            let inputs = form.querySelectorAll('input');
            let buttonSend = form.getElementsByClassName('is-info')[0];
            let frees = Number(document.getElementById('id_check_frees').value);
            let invis = Number(document.getElementById('id_check_invis').value);
            if (frees!=0 || invis !=0) {
              buttonSend.disabled = false;
            } else {
              buttonSend.disabled = true;
            }
    };


</script>
<script nonce="{{request.csp_nonce}}">
    function openCheckInModal(id, f_max, f_min, i_max, i_min){
        checkinModal = document.getElementById("checkin-dialog");
        checkinModal.classList.add("is-active");
        document.getElementById("{{checkin_form.persona.id_for_label}}").value=id;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").max=f_max-f_min;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").min=-f_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").max=i_max-i_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").min=-i_min;
    };


</script>
{% include 'eventos/setups/modal_setup.html' with ModalName='checkin' noBtn=1%}
{% endif %}
{% endblock %}