{% extends 'base.html' %}
{% load static %}
{% block breadcrumbs %}
    <li class=""><a href="#">Eventos</a></li>
    <li class="is-active"><a href="/e/{{evento.pk}}">{{evento.name}}</a></li>
{% endblock %}

{% block content %}
<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>
{% if checkin_errors %}
<script nonce="{{request.csp_nonce}}">
    window.alert({{checkin_errors}});
</script>
{% endif %}
<h2 class="title is-1">
    {{evento.name}}
</h2>


{% if invi_dadas %}
<h4 class="title is-3">
    Invitaciones: {{invi_dadas}}
</h4>
{% endif %}

{% if frees_dados %}
<h4 class="title is-3">
    Frees: {{frees_dados}}/{{frees_total}}
</h4>
{% endif %}

<input class="input searchbar" id="searchbar" type="text">

{% include 'eventos/tablas/tabla_personas.html' %}
{% include 'eventos/setups/autocomplete_setup.html' %}
{% endblock %}

{% block dialog %}
<div class="button-container">
    <button id="add-lista" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>

<div class="modal" id="lista-dialog">
      <div class="modal-content">
          <span id='lista-close' class="close">&times;</span>
          <form class="modal-form" method="post" action="">
            {% csrf_token %}
            {% include 'eventos/forms/invitacion-form.html' with form=persona_form %}
          </form>
      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='lista'%}

<div class="modal" id="checkin-dialog">
      <div class="modal-content">
          <span id='checkin-close' class="close">&times;</span>
          <form class="modal-form" method="post" action="">
            {% csrf_token %}
            {% include 'eventos/forms/checkin-form.html' with form=checkin_form %}
          </form>
      </div>
</div>

<script nonce="{{request.csp_nonce}}">
    function openCheckInModal(id, f_max, f_min, i_max, i_min){
        checkinModal = document.getElementById("checkin-dialog");
        checkinModal.classList.add("is-active");
        document.getElementById("{{checkin_form.persona.id_for_label}}").value=id;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").max=f_max-f_min;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").min=-f_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").max=i_max-i_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").min=-i_min;
    };
</script>
{% include 'eventos/setups/modal_setup.html' with ModalName='checkin' noBtn=1%}

{% endblock %}