{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="title is-1">
   {{id_usuario.nombre}}
</h1>
<h2 class="title is-2">
{% for group in persona.groups.all%} {{group}} {% endfor %}
</h2>

<form class="body-form" action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button is-info" value="Dar Frees" type="submit">
</form>

<table class="table">
    <th>
        Evento
    </th>
    <th>
        Frees
    </th>
    <th>
        Inv.
    </th>
    {% for evento in id_eventos %}
    <tr>
        <td>
            <a href="/e/{{evento.id}}">{{evento.nombre}}</a>
        </td>
        <td>
            {{evento.frees}}/{{evento.frees_total}}
        </td>
        <td>
            {{evento.invis}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}