{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="title is-1">
   {{id_usuario.first_name}}
</h1>
<h2 class="title is-2">
{% for group in id_usuario.groups.all%} {{group}} {% endfor %}
</h2>

<table class="table">
    <th>
        Evento
    </th>
    <th>
        Frees
    </th>
    <th>
        Inv.
    </th>
    {% for evento in id_eventos %}
    <tr>
        <td>
            <a href="/e/{{evento.slug}}">{{evento.nombre}}</a>
        </td>
        <td>
            {{evento.frees}}/{{evento.frees_total}}
        </td>
        <td>
            {{evento.invis}}
        </td>
    </tr>
    {% endfor %}
</table>

<h5 class="title is-5"> Asignar Frees: </h5>

<form class="body-form" action="" method="post">
    {% csrf_token %}
    {% include 'eventos/forms/free-assign-form.html' %}
</form>

{% endblock %}