{% extends 'base.html' %}
{% load static %}
{% block go_back %} / {% endblock %}
{% block content %}
<h1 class="title is-1">
   {{evento.name}}
</h1>
<h2 class="title is-2">
     {{persona.nombre}}
</h2>

<table class="table tabla-personas">
    <tr>
        <th>
            RRPP
        </th>
        <th>
            Inv.
        </th>
        <th>
            Free
        </th>
        <th>
            Lista
        </th>
        <th>
            Borrar
        </th>
    </tr>
    {% for invitacion in invitaciones %}
        <tr>
            <td>
                {{invitacion.rrpp}}
            </td>
            <td>
                {{invitacion.invis}}
            </td>
            <td>
                {{invitacion.frees}}
            </td>
            <td>
                {{invitacion.lista}}
            </td>
            <td>
                <form method="post" class="table-form" action=""
                onsubmit="confirm('Seguro que queres borrar estas entradas?');">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="1">
                    <input type="hidden" name="lista" value="{{invitacion.lista_id}}">
                    <input type="submit" class="button is-danger" value="Borrar">
                </form>

            </td>
        </tr>
    {% endfor %}
</table>

<!--<div class="container body-form">-->
<!--<p>-->
<!--    Invitaciones: {{invitaciones | length }}-->
<!--</p>-->
<!--<p>-->
<!--    Frees: {{frees | length }}-->
<!--</p>-->
<!--<button-->
<!--{% if invitaciones %}-->
<!--    class="active button" onclick="usar_invi({{invitaciones.0.pk}});"-->
<!--{% else %}-->
<!--    class="inactive button" disabled-->
<!--{% endif %}-->
<!--&gt; Usar Invitacion </button>-->
<!--</div>-->
<form class="body-form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button is-info" value="Invitar" type="submit">
</form>
{% endblock %}