{% extends 'base.html' %}
{% load static %}
{% load auth_extras %}
{% block go_back %} / {% endblock %}
{% block content %}
<h1 class="title is-1">
    {{evento.name}}
</h1>
<div class="card persona-card">
    <header class="card-header">
        <h2 class="title is-2">
            {{persona.nombre}}
        </h2>
    </header>
    <div class="card-content">
        <div class="media">
<!--            <div class="media-left">-->
<!--                <figure class="image is-150x150">-->
<!--                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">-->
<!--                </figure>-->
<!--            </div>-->
            <div class="media-content">
                <h3 class="subtitle is-3">
                    C.I.: {{persona.cedula}}
                </h3>
            </div>
        </div>
    </div>
</div>
<h2 class="title">
    Invitaciones:
</h2>
{% include 'eventos/tablas/tabla-invitaciones.html' %}

{% endblock %}

{% block dialog %}

{% if request.user|has_group:"admin" or request.user|has_group:"rrpp" %}
<div class="button-container">
    <button id="add-form" class="plus-button green"><i class="fa fa-plus-circle"></i></button>
</div>
<div class="modal" id="form-dialog">
    <div class="modal-content is-fullheight">
        <span id='form-close' class="close">&times;</span>
        <form class="modal-form" id="invi-form" action="" method="post">
            {% csrf_token %}
            {% include 'eventos/forms/multiassign-form.html' with form=form %}
        </form>
    </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='form'%}
<script nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', function() {
        form = document.getElementById('invi-form');
        inputs = form.querySelectorAll('input');
        inputs.forEach((input) => {
            input.addEventListener('input', () => {
                checkForm();
            })
        });
        function checkForm() {
            let form = document.getElementById('invi-form');
            let buttonSend = form.getElementsByClassName('is-info')[0]
            let frees = Number(document.getElementById('id_frees').value);
            let invis = Number(document.getElementById('id_invitaciones').value);
            if (frees+invis>0) {
              buttonSend.disabled = false;
            } else {
              buttonSend.disabled = true;
            }
        }
    });
</script>
{% endif %}

{% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
<div class="modal" id="checkin-dialog">
      <div class="modal-content">
          <span id='checkin-close' class="close">&times;</span>
          <form class="modal-form" id="checkin-form" method="post" action="">
            {% csrf_token %}
            {% include 'eventos/forms/checkin-form.html' with form=checkin_form %}
              <input id="id_checkin" name="checkin" value="" type="hidden">
              <input id="id_lista" name="lista" value="" type="hidden">
          </form>
      </div>
</div>

<script nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('checkin-form');
        var inputs = form.querySelectorAll('input');
        inputs.forEach((input) => {
            input.addEventListener('input', (event) => {
                checkCheckInForm(event.target);
            })
        });
        function checkCheckInForm(t) {
                let form = document.getElementById('checkin-form');
                let inputs = form.querySelectorAll('input');
                let buttonSend = form.getElementsByClassName('is-info')[0];
                let frees = Number(document.getElementById('id_check_frees').value);
                let invis = Number(document.getElementById('id_check_invis').value);
                if (frees!=0 || invis !=0) {
                  buttonSend.disabled = false;
                } else {
                  buttonSend.disabled = true;
                }
        };
    });

    function openCheckInModal(id, f_max, f_min, i_max, i_min, lista) {
        checkinModal = document.getElementById("checkin-dialog");
        checkinModal.classList.add("is-active");
        document.getElementById("{{checkin_form.persona.id_for_label}}").value={{persona.pk}};
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").max=f_max-f_min;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").min=-f_min;
        document.getElementById("{{checkin_form.check_frees.id_for_label}}").value=0;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").max=i_max-i_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").min=-i_min;
        document.getElementById("{{checkin_form.check_invis.id_for_label}}").value=0;
        document.getElementById("id_checkin").value=id;
        document.getElementById("id_lista").value=lista;
    };

</script>
{% include 'eventos/setups/modal_setup.html' with ModalName='checkin' noBtn=1%}
{% endif %}
{% endblock %}