<table class="tabla_personas table" id="tabla_personas">
    <tr>
        <th onclick="sortTable(0)">
            Invitaciones
        </th>
        <th onclick="sortTable(0)">
            Frees
        </th>
        <th onclick="sortTable(1);">
            Nombre
        </th>
        <th onclick="sortTable(2);">
            Lista
        </th>
    </tr>
    {% for persona in personas %}
        <tr>
            <td>
                {{persona.invitaciones}}
            </td>
            <td>
                0
            </td>
            <td>
                <a href="/e/{{evento.pk}}/p/{{persona.pk}}/"> {{persona.nombre}} </a>
            </td>
            <td>
                {% for lista in persona.listas %}
                    <p style="color:{{lista.color}}">{{lista.nombre}} </p>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>