/*
Propietario: grIT
Contacto: agustin.gomez.mansilla@gmail.com

Use of this code for any commercial purpose is NOT AUTHORIZED.
El uso de éste código para cualquier propósito comercial NO ESTÁ AUTORIZADO.
*/
.body {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}

.title {
    color: white;
}

.content-body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    max-width: 80%;
    row-gap: 15px;
}

.tabla-personas {
    width: 90vw;
    border: 4px solid;
    font-size: 4vw;


}

.tabla-personas input {
    font-size: 3vw;
}

.navbar {
    background-color: black;
    font-size: 3vw;
}

.navbar-burger {
    color: white;
}

.navbar-brand a {
    color: white;
}

.tabla_personas>tbody>tr {
    width: 100%;
    border: 4px solid;
}

.tabla_personas>tbody>tr>td {
    border: 1pt solid;
}

.tabla_invitacion>tbody>tr>td {
    padding:0 25px 0 10px;
        border: 1pt solid;
}

.tabla_personas>tbody>tr>th {
    padding:0 25px 0 10px;
    border: 1pt solid;
}

.autocomplete-items {
    background-color: white;
    width: 250px;
    max-height: 250px;
}

.opciones {
    color: black;
    font-size: 30px;
}

.autocomplete-active {
    background-color: darkkhaki;
}

.active {
    color: green;
}
.inactive {
    color: red;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  font-size: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.body-form {
    color: white;
    justify-content: center;
    row-gap: 15px;
    display:flex;
    flex-direction: column;
}

/* Submit button for modal form */
.button.modal-button{
    margin-top: 10px;
}

.navbar-brand p.navbar-item {
    color: white;
}

/* Forms inside modal dialogs */
.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form input {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: right;
}

.modal-content {

}

.plus-button {
    background-color: white;
    color: black;
    font-size: 45px;
    padding: 0;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    line-height: 45px;
    border: 3px solid white;
}
    .plus-button.green {
        background-color: green;
        color: white;
    }

    .plus-button.blue {
        background-color: blue;
        color: white;
    }

/* Smartphones in landscape */
@media only screen
  and (min-device-width: 100px)
  and (max-device-width: 871px){
    .persona.input {
        font-size: 5vw;
    }
    .plus-button.green {
    font-size: 5.8vh;
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;

    }
}