/*
Propietario: grIT
Contacto: agustin.gomez.mansilla@gmail.com

Use of this code for any commercial purpose is NOT AUTHORIZED.
El uso de éste código para cualquier propósito comercial NO ESTÁ AUTORIZADO.
*/


:root {
--fontsize: 35px;
--fontsize-l: 45px;
--fontsize-xl: 60px;
--fontsize-s: 17px;
--fontcolor: #7a7a7a;
}

.autocomplete-items {
    background-color: white;
    width: 100% ;
    overflow-y: scroll;
    max-height: 30vh;
}
html {
    position: relative;
    min-height: 100%;
}

.subtitle {
    color: #7a7a7a;
}

.navbar-item {
    color: #7a7a7a;
}
.navbar-link {
    color: #7a7a7a;
}

.navbar-dropdown .navbar-item {
    font-size: 2.5rem;
    left: 3rem;
}


.body {
    background-color: black;
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    min-height: 100vh;
}

.body input {
    font-size: var(--fontsize-l);
}

.signature {
    background-color: none;
    bottom: 20px;
    left: 15px;
    z-index: 6;
    position:absolute;
    display: block;
}

.signature a{
    color: gray;
    font-size: var(--fontsize-l);
}

.autocomplete-active {
    background-color: darkkhaki;
}


.content-body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    max-width: 80%;
    row-gap: 15px;
    margin-bottom: var(--fontsize-xl);
}

.navbar {
    background-color: black;
}

.deactivated {
    background-color: gray;
}

.navbar-item {
    font-size: var(--fontsize-s);
}

.navbar-burger {
    color: white;
}

.navbar-brand a {
    color: white;
}

.navbar-brand p.navbar-item {
    color: white;
}

.table-container {
    width: 90vw;
    max-width: 90vw;
}

.tabla-personas {
    border: 4px solid;
    font-size: var(--fontsize-s);
    width: 90vw;
}

.tabla-personas input {
    font-size: var(--fontsize-s);
}

.tabla-personas tr {
}
.tabla-personas .inactivo {
    background-color: gray;

}
.inactivo>td>a{
        color: white;
    }
.inactivo>td {
        color: white;
    }

.tabla-personas thead th{
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

.tabla-personas tbody td {
    vertical-align: middle;
    word-wrap: break-word;
    max-width:30vw;
    text-align: center;
}

.tabla-invitacion>tbody>tr>td {
    padding:0 25px 0 10px;
}

.tabla_personas>tbody>tr>th {
    padding:0 25px 0 10px;
    border: 1pt solid;
}


.persona-card {
    width: 90%;
}

.persona-card .title{
    color: unset;
}

.user-card.inactive {
    background-color: gray;
}

.title {
    color: white;
}

.opciones {
    color: black;
    font-size: var(--fontsize-l);
}

.active {
    color: green;
}
.inactive {
    color: red;
}
.back-button {
    font-size: var(--fontsize);
    margin: 15px;
}

.body-form .plus-button {
    margin: 10px;
    width:var(--fontsize-xl);
    height:var(--fontsize-xl);
    border-radius:var(--fontsize-xl);
}
.body-form .plus-button i{
    font-size: var(--fontsize-l);
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  font-size: var(--fontsize);
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-card-head{

}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: var(--fontsize-xl);
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Submit button for modal form */
.button.modal-button{
    margin-top: 10px;
}

/* Forms inside modal dialogs */
.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form .field{
    margin-left: 10px;
    margin-right: 10px;
}

.modal-form .field.is-grouped{
    align-items: center;
}

.modal-form input {
    width: 100%;
}

.modal-card-title{
    font-size: var(--fontsize-xl);
}

.modal-content {

}

.modal-content .button{
    margin-top: 20px;
    left: 50%;
    transform: translate(-55%, 0%);
}

.modal-content p.modal-title {
    font-size: var(--fontsize-xl);
}
.modal-text {
    font-size: var(--fontsize-l);
    margin-top: 10px;
}
/* End Modal */

.table-form{
    padding:10px;
}

.card-content .field p {
    margin: 10px;
    font-size: var(--fontsize);
}

.card-content {

}
.card-header {display:flex; align-items: center;}
.card {
    font-size: var(--fontsize);
}

.table-form input {
    font-size: var(--fontsize-l);
}

.body-form {
    color: white;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    display:flex;
    flex-direction: column;
}

.body-form .field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-form .field.is-grouped {
    display: flex;
    flex-direction: row;
}

.int-input input{
    width: 150px;
    font-size: var(--fontsize-l);
}

.body-form .label {
    color:white;
    font-size: var(--fontsize-l);
}

.body-form .field input {
    font-size: var(--fontsize);
}

.body-content {
    color: white;
    font-size: 2rem;
}

.button-container {
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 2;
}

.errors {
    color: red;
}

.plus-button {
    margin-right: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    font-size: 4.5vh;
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
}
.plus-button.green {
    background-color: green;
    border-color: green;
    color: white;
}

.plus-button.blue {
    background-color: blue;
    border-color: blue;
    color: white;
}
.plus-button.red {
    background-color: red;
    border-color: red;
    color: white;
}
.plus-button.yellow {
    background-color: #d1c44f;
    border-color: #d1c44f;
    color: white;
}


.searchbar { font-size: var(--fontsize-l)};


tr.red {
    background-color: #FB928E;
}

tr.yellow {
    background-color: #F6F5E1;
}


table .plus-button{
    margin-right: 0px;
}

.table-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    flex-wrap: wrap;
}

.modal-form .plus-button {
    width: 70px;
    height: 100px;
    font-size: 5rem;
}

p.title{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.body-content {
    width: 80%;
}

.filter-button {

}

.plink{
    font-size: var(--fontsize);
    color: var(--fontcolor);
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.promo-header {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
.promo-header .is-1 {
    font-size: 6rem;
}

hr {
    color: white;
    background-color: white;
    height: 0.5rem;
    border: 2px solid white;
    width: 100%;
    z-index:4;
}

/* Smartphones in portrait */
@media only screen
  and (min-device-width: 100px)
  and (max-device-width: 871px) {
    .body-form { font-size: var(--fontsize);}
    .body-form input { font-size: var(--fontsize-l);}
    .body-content {font-size: var(--fontsize);}
    .body-content p.info {font-size: var(--fontsize-s);}
    .body-form select { font-size:var(--fontsize);}

    p.title i{
    font-size: var(--fontsize-l);
    }
    p.title button.plus-button{
    width: var(--fontsize-l);
    height: var(--fontsize-l);
    font-size: var(--fontsize-l);
    }
    .table { font-size: var(--fontsize);}
    .table input {font-size: var(--fontsize);}
    .navbar-item { font-size: var(--fontsize-l);}
    .button { font-size: var(--fontsize);}
    .searchbar { font-size: var(--fontsize-l);}
    .navbar-brand i{font-size:var(--fontsize);}
    .modal-form {font-size:var(--fontsize);}
    .modal-form input{font-size: var(--fontsize-l);}
    .modal-form select {font-size: var(--fontsize-l);}
    .modal-form label {font-size: var(--fontsize);}
    .navbar-burger {height:100px;width:100px;}
    .back-button i{font-size: var(--fontsize-xl);}
    .table-btn-container i{font-size: var(--fontsize-xl);}
    .table-btn-container .plus-button{width:var(--fontsize-xl);height:var(--fontsize-xl);border-radius:var(--fontsize-xl);}
    .table-btn-container .plus-button i{font-size: var(--fontsize-l)}
    .table-btn-container {flex-direction: column; align-items: center; row-gap: 3px; flex-wrap: wrap;}
    .navbar-dropdown .is-active {
      display: block;
    }
    .navbar-dropdown:not(.is-active) {
      display: none;
    }
    .navbar-link.is-arrow-up::after {
        right: 1.5em;
        margin: -.375em;
        border-top: 5px solid #485fc7;
        border-right: 5px solid #485fc7;
        border-bottom: 2px transparent;
        border-left: 2px transparent;
    }

    .navbar-burger {
        font-size: 3rem;
        margin-right: 1rem;
        width: 4rem;
    }
    .navbar-burger span{
        width: 2rem;
        height: 2px;
        margin-top: 1rem;
        background-color: white;
    }
    .navbar-burger span:first-child{
        top: calc(15% - 6px);
        left: calc(10%);
    }
    .navbar-burger span:nth-child(2){
        top: calc(20% - 0px);
        left: calc(10%);
    }
    .navbar-burger span:nth-child(3){
        top: calc(26% + 6px);
        left: calc(10%);
    }
    .navbar-burger.is-active span:first-child {
        transform: translateY(18px) rotate(45deg)
    }
    .navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg)
    }
}