{% for field in form %}
<div class="field">
    <label class="label">{{field.label}}</label>
    <div class="control">
    {% if field.id_for_label == 'groups' %}
        <div class="select is-multiple">
    {% endif %}
        {{field}}
    {% if field.id_for_label == 'groups' %}
        </div>
    {% endif %}
    </div>
    <p class="help errors">{% for error in field.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
{% endfor %}
{% for field in form.hidden_fields %}
    {{field}}
{% endfor %}