<div class="field is-grouped" id="free-form">
    <div class="field int-input">
        <label class="label">{{form.free.label}}</label>
        <div class="control">{{form.free}}</div>
        <p class="help errors">{% for error in form.free.errors %} <li>{{error}}</li>{% endfor %}</p>

    </div>
    <div class="field">
        <div class="plus-button"><i class="fa fa-plus-circle form-control-stepup" data-target="{{form.free.id_for_label}}"></i></div>
        <div class="plus-button"><i class="fa fa-minus-circle form-control-stepdown" data-target="{{form.free.id_for_label}}"></i></div>
    </div>
</div>
<div class="field">
    <label class="label">{{form.evento.label}}</label>
    <div class="select">{{form.evento}}</div>
    <p class="help errors">{% for error in field.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
