<div class="field is-grouped">
    <div class="field int-input">
        <label class="label">{{form.free.label}}</label>
        <div class="control">{{form.free}}</div>
        <p class="help errors">{% for error in form.free.errors %} <li>{{error}}</li>{% endfor %}</p>

    </div>
    <div class="field">
        <div class="plus-button"><i class="fa fa-plus-circle" onclick="document.getElementById('{{form.free.id_for_label}}').stepUp();"></i></div>
        <div class="plus-button"><i class="fa fa-minus-circle" onclick="document.getElementById('{{form.free.id_for_label}}').stepDown();"></i></div>
    </div>
</div>
<div class="field">
    <label class="label">{{form.evento.label}}</label>
    <div class="select">{{form.evento}}</div>
    <p class="help errors">{% for error in field.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
<div class="field">
  <input type="submit" class="button is-info modal-button" value="Asignar Frees">
</div>