
{% for field in persona_form %}
<div class="field">
    <label class="label">{{field.label}}</label>
    {% if field.id_for_label == 'id_lista' %}
    <span class="select">
    {% else %}
    <div class="control">
    {% endif %}
        {{field}}
    {% if field.id_for_label != 'id_lista' %}
    </div>
    {% else %}
    </span>
    {% endif %}
    <p class="help errors">{% for error in field.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
{% endfor %}
  <input type="submit" class="button is-info modal-button" value="Agregar">
