<div class="field is-grouped">
    <div class="field int-input">
        <label class="label">{{persona_form.invitaciones.label}}</label>
        <div class="control">{{persona_form.invitaciones}}</div>
    </div>
    <div class="field int-input">
        <label class="label">{{persona_form.frees.label}}</label>
        <div class="control">{{persona_form.frees}}</div>
    </div>
</div>
<div class="field">
    <label class="label">{{persona_form.lista.label}}</label>
    <span class="select">
        {{persona_form.lista}}
    </span>
</div>
<div class="field">
    <label class="label">{{persona_form.persona.label}}</label>
    <div class="control">{{persona_form.persona}}</div>
</div>

 {% for field in persona_form.hidden_fields %}
     <div style="display:none;">{{ field }}</div>
 {% endfor %}
<div class="field">
  <input type="submit" class="button is-info modal-button" value="Invitar">
</div>