{% for field in form %}
<div class="field">
    <label class="label">{{field.label}}</label>
    {% if field.id_for_label == 'id_color' %}
        <span class="select">
    {% else %}
        <div class="control">
    {% endif %}
        {{field}}
    {% if field.id_for_label != 'id_color' %}
        </div>
    {% else %}
        </span>
    {% endif %}
    <p class="help errors">{% for error in field.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
{% endfor %}
{% for field in form.hidden_fields %}
    {{field}}
{% endfor %}