<div class="field is-grouped">
    <div class="field int-input">
        <label class="label">{{form.invitaciones.label}}</label>
        <div class="control">{{form.invitaciones}}</div>
        <p class="help errors">{% for error in form.invitaciones.errors %} <li>{{error}}</li>{% endfor %}</p>
    </div>
    <div class="field">
        <div class="plus-button"><i class="fa fa-plus-circle" onclick="stepOnUp(document.getElementById('{{form.invitaciones.id_for_label}}'));"></i></div>
        <div class="plus-button"><i class="fa fa-minus-circle" onclick="stepOnDown(document.getElementById('{{form.invitaciones.id_for_label}}'));"></i></div>
    </div>
    <div class="field int-input">
        <label class="label">{{form.frees.label}}</label>
        <div class="control">{{form.frees}}</div>
        <p class="help errors">{% for error in form.frees.errors %} <li>{{error}}</li>{% endfor %}</p>
    </div>
    <div class="field">
        <div class="plus-button"><i class="fa fa-plus-circle" onclick="stepOnUp(document.getElementById('{{form.frees.id_for_label}}'));"></i></div>
        <div class="plus-button"><i class="fa fa-minus-circle" onclick="stepOnDown(document.getElementById('{{form.frees.id_for_label}}'));"></i></div>
    </div>
</div>
<div class="field">
    <label class="label">{{form.lista.label}}</label>
    <span class="select">
        {{form.lista}}
    </span>
    <p class="help errors">{% for error in form.lista.errors %} <li>{{error}}</li>{% endfor %}</p>
</div>
<div class="field">
    <p class="control">
        <input type="submit" class="button is-info" value="Asignar Entradas" disabled>
    </p>
</div>