<table class="tabla-personas table" id="tabla_personas">
    <tr>
    <th onclick="sortTable(0)">
        Nombre
    </th>
    <th onclick="sortTable(1)">
        Cedula
    </th>
    <th onclick="sortTable(2)">
       Invitaciones
    </th>
    <th onclick="sortTable(3)">
        Frees
    </th>
    <th onclick="sortTable(4)">
        Lista
    </th>
    <th onclick="sortTable(5)">
        Aviso
    </th>
    </tr>
    {% for invitacion in invitaciones %}
    <tr
            {% if invitacion.errors.0.0 == 'error' %}
                class="red"
            {% elif invitacion.errors.0.0 == 'warning' %}
                class="yellow"
            {% endif %}
    >
    <td>
        {{invitacion.persona.nombre}}
    </td>
    <td>
        {{invitacion.persona.cedula}}
    </td>
    <td>
        {{invitacion.invis}}
    </td>
    <td>
        {{invitacion.frees}}
    </td>
    <td>
        {{invitacion.lista.nombre}}
    </td>
    <td>
        {{invitacion.errors.0.1}}
    </td>
    </tr>
    {% endfor %}
</table>