<table class="tabla-personas table" id="tabla_personas">
    <tr>
    <th data-sort="0">
        Nombre
    </th>
    <th data-sort="1">
        Cedula
    </th>
    <th data-sort="2">
       Invitaciones
    </th>
    <th data-sort="3">
        Frees
    </th>
    <th data-sort="4">
        Lista
    </th>
    <th data-sort="5">
        Aviso
    </th>
    </tr>
    {% for invitacion in invitaciones %}
    <tr
            {% if invitacion.errors.0.0 == 'error' %}
                class="red"
            {% elif invitacion.errors.0.0 == 'warning' %}
                class="yellow"
            {% endif %}
    >
    <td>
        {{invitacion.persona.nombre}}
    </td>
    <td>
        {{invitacion.persona.cedula}}
    </td>
    <td>
        {{invitacion.invis}}
    </td>
    <td>
        {{invitacion.frees}}
    </td>
    <td>
        {{invitacion.lista.nombre}}
    </td>
    <td>
        {{invitacion.errors.0.1}}
    </td>
    </tr>
    {% endfor %}
</table>

<script nonce="{{request.csp_nonce}}">
    var headers = document.querySelectorAll('#tabla_personas th');
    headers.forEach(function(header, index) {
        var sort = header.getAttribute('data-sort');
        if(sort){
            header.addEventListener('click', function(el) {
                var index = el.target.getAttribute('data-sort');
                sortTable(index);
            });
            // Remove onclick attribute
            header.removeAttribute('onclick');
        }
    });
</script>