<table class="tabla-personas table" id="tabla_personas">
    <tr>
        <th onclick="sortTable(0)">
            Inv.
        </th>
        <th onclick="sortTable(0)">
            Free
        </th>
        <th onclick="sortTable(0);">
            Nombre
        </th>
        <th onclick="sortTable(0);">
            Lista
        </th>
        {% if 'entrada' in groups or 'admin' in groups %}
        <th>
            Check-in
        </th>
        {% endif %}
    </tr>
    {% for persona in personas %}
        <tr>
            <td>
                {{persona.invis}} ({{persona.invis_usadas}})
            </td>
            <td>
                {{persona.frees}} ({{persona.frees_usadas}})
            </td>
            <td>
                <a href="/e/{{evento.slug}}/p/{{persona.pk}}/"> {{persona.nombre}} </a>
            </td>
            <td>
                {% for lista in persona.listas %}
                    <font color="{{lista.color}}">{{lista.nombre}}</font>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            {% if 'entrada' in groups or 'admin' in groups %}
            <td>
                <form action="" method="post" onsubmit='return confirm("Hacer check-in a {{persona.nombre}}?");'>
                    {% csrf_token %}
                    <input type="hidden" value="{{persona.invis_disponibles}}" name="n_invis">
                    <input type="hidden" value="{{persona.frees_disponibles}}" name="n_frees">
                    <input type="hidden" value="{{persona.pk}}" name="persona">
                    <input type="hidden" value="True" name="checkin">
                <input type="submit" class="button is-info" value="Check-in">
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>