{% load auth_extras %}

{% if page_obj %}
{% if page_obj.has_other_pages %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
    <a class="pagination-previous plink" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-circle-left"></i></a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="pagination-next plink" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
    <ul class="pagination-list">
        {% if page_obj.start_index > 1 and page_obj.number > 2 %}
        <li><a class="pagination-link plink" href="?page=1&persona={{query_key}}">1</a></li>
        {% endif %}
        {% if page_obj.start_index > 1 and page_obj.number > 3%}
        <li><span class="pagination-ellipsis plink">&hellip;</span></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li><a class="pagination-link is-current plink">{{ page }}</a></li>
        {% else %}
        {% if page > page_obj.number|add:'-2' and page < page_obj.number|add:'2' %}
        <li><a class="pagination-link plink" href="?page={{ page }}&persona={{query_key}}">{{ page }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if page_obj.number < page_obj.paginator.num_pages|sub:2 %}
            <li><span class="pagination-ellipsis plink">&hellip;</span></li>
        {% endif %}
        {% if page_obj.number < page_obj.paginator.num_pages|sub:1 %}
            <li><a class="pagination-link plink" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}

<table class="tabla-personas table is-bordered is-fullwidth is-hoverable" id="tabla_personas">
    <thead>
    <tr>
        <th onclick="sortTable(0)">
            Inv.
        </th>
        <th onclick="sortTable(1)">
            Free
        </th>
        <th onclick="sortTable(2);">
            Nombre
        </th>
        <th onclick="sortTable(3);">
            Cédula
        </th>
        <th onclick="sortTable(4);">
            Lista
        </th>
        {% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
        <th>
            Check-in
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for persona in personas %}
    {% if persona.invis > 0 or persona.frees > 0 %}
        <tr>
            <td>
                <p>{{persona.invis}}</p>
                <p>({{persona.invis_usadas}})</p>
            </td>
            <td>
                <p>{{persona.frees}}</p>
                <p>({{persona.frees_usadas}})</p>

            </td>
            <td>
                <a href="/e/{{evento.slug}}/p/{{persona.pk}}/"> {{persona.nombre}} </a>
            </td>
            <td>
                {{persona.cedula}}
            </td>
            <td>
                {% for lista in persona.listas %}
                    <font color="{{lista.color}}">{{lista.nombre}}</font>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            {% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
            <td>
                <div class="table-btn-container">
                <button class="plus-button green" onclick="openCheckInModal({{persona.pk}},
                {{persona.frees}}, {{persona.frees_usadas}}, {{persona.invis}}, {{persona.invis_usadas}});">
                    <i class="fa fa-check"></i>
                </button>
                </div>
            </td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
