{% load auth_extras %}
<table class="table tabla-personas">
    <thead>
    <tr>
        <th>
            RRPP (Usuario)
        </th>
        <th>
            Persona
        </th>
        <th>
            Inv.
        </th>
        <th>
            Free
        </th>
        <th>
            Lista
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    {% for invitacion in invitaciones %}
        <tr>
            <td>
                {{invitacion.rrpp.first_name}} ({{invitacion.rrpp.username}})
            </td>
            <td>
                {{invitacion.persona.nombre}} - {{invitacion.persona.cedula}}
            </td>
            <td>
                {{invitacion.invis}} ({{invitacion.used_invis}})
            </td>
            <td>
                {{invitacion.frees}} ({{invitacion.used_frees}})
            </td>
            <td>
                {{invitacion.lista__nombre}}
            </td>
            <td>
                <div class="table-btn-container">
                    {% if invitacion.rrpp == request.user or request.user|has_group:"admin"%}
                    <div class="field">
                    <form method="post" class="table-form" action=""
                    onsubmit="return confirm('Seguro que queres borrar estas entradas?');">
                        {% csrf_token %}
                        <input type="hidden" name="delete" value="1">
                        <input type="hidden" name="lista" value="{{invitacion.lista_id}}">
                        <input type="hidden" name="rrpp" value="{{invitacion.rrpp.pk}}">
                        <input type="hidden" name="persona" value="{{invitacion.persona.pk}}">
                        <input type="hidden" name="evento" value="{{invitacion.evento.pk}}">
                        <button type="submit" class="plus-button in-table red"> <i class="fa fa-trash"></i> </button>
                    </form>
                    </div>
<!--                    <div class="field">-->
<!--                        <button class="plus-button in-table blue"><i class="fa fa-pencil"></i></button>-->
<!--                    </div>-->
                    {% endif %}
                    {% if request.user|has_group:"entrada" or request.user|has_group:"admin"%}
                    <div class="field">
                        <button class="plus-button in-table green"
                                onclick="openCheckInModal({{invitacion.persona.pk}}, {{invitacion.frees}},
                                {{invitacion.used_frees}}, {{invitacion.invis}}, {{invitacion.used_invis}}, {{invitacion.lista_id}});">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>