<table class="tabla-personas table" id="tabla_personas">
    <tr>
        <th data-sort="0">
            Nombre
        </th>
        <th data-sort="1">
            Admins.
        </th>
    </tr>
    {% for lista in listas %}
        <tr>
            <td>
                <a href="/l/{{lista.slug}}">{{lista.nombre}}</a>
            </td>
            <td>
                {% for user in lista.administradores.all %}
                    {{user.first_name}}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<script nonce="{{request.csp_nonce}}">
    var headers = document.querySelectorAll('#tabla_personas th');
    headers.forEach(function(header, index) {
        var sort = header.getAttribute('data-sort');
        if(sort){
            header.addEventListener('click', function(el) {
                var index = el.target.getAttribute('data-sort');
                sortTable(index);
            });
            // Remove onclick attribute
            header.removeAttribute('onclick');
        }
    });
</script>