{% load auth_extras %}
<table class="tabla-personas table is-bordered is-fullwidth is-hoverable" id="tabla_personas">
    <thead>
    <tr>
        <th onclick="sortTable(0)">
            Inv.
        </th>
        <th onclick="sortTable(1)">
            Free
        </th>
        <th onclick="sortTable(2);">
            Nombre
        </th>
        <th onclick="sortTable(3);">
            Cédula
        </th>
        <th onclick="sortTable(4);">
            Lista
        </th>
        {% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
        <th>
            Check-in
        </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for persona in personas %}
    {% if persona.invis > 0 or persona.frees > 0 %}
        <tr>
            <td>
                <p>{{persona.invis}}</p>
                <p>({{persona.invis_usadas}})</p>
            </td>
            <td>
                <p>{{persona.frees}}</p>
                <p>({{persona.frees_usadas}})</p>

            </td>
            <td>
                <a href="/e/{{evento.slug}}/p/{{persona.pk}}/"> {{persona.nombre}} </a>
            </td>
            <td>
                {{persona.cedula}}
            </td>
            <td>
                {% for lista in persona.listas %}
                    <font color="{{lista.color}}">{{lista.nombre}}</font>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            {% if request.user|has_group:"admin" or request.user|has_group:"entrada" %}
            <td>
                <div class="table-btn-container">
                <div class="plus-button green" onclick="openCheckInModal({{persona.pk}},
                {{persona.frees}}, {{persona.frees_usadas}}, {{persona.invis}}, {{persona.invis_usadas}});">
                    <i class="fa fa-check"></i>
                </div>
                </div>
            </td>
            {% endif %}
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
