<div class="tile is-ancestor">
    <div class="tile is-vertical">
    {% for user in usuarios %}
        <div class="tile is-child">
            <div class="card user-card {% if not user.is_active %} inactive {% endif %}">
                <header class="card-header">
                <p class="card-header-title">
                  <a href="/u/{{user.pk}}">{{user.first_name}} </a>
                    <button class="plus-button blue" onclick="openEditModal('{{user.pk}}',
                    '{{user.first_name}}', '{{user.email}}', [{% for group in user.groups.all %} '{{group.pk}}' {% if not forloop.last %},{% endif %} {% endfor %} ]);"><i class="fa fa-pencil"></i></button>
                    {% if not user.is_active %} <p>(Desactivado)</p> {% endif %}
                </p>
                </header>
                <div class="card-content">
                    <div class="field is-grouped">
                        <p class="subtitle is-6">Email: </p>
                        <p class="subtitle is-6">{{user.email}}</p>
                    </div>
                    <div class="field is-grouped">
                        {% if user.is_active %}
                        <form method="POST" action="" class="table-form"
                                onsubmit="return confirm('Enviar correo a este usuario?');">
                               {% csrf_token %}
                                <input type="hidden" name="reset" value="{{user.pk}}">
                                <input class="button is-info" type="submit" value="Reset Password">
                        </form>
                        {% if user != request.user %}
                        <form method="POST" action="" class="table-form"
                                onsubmit="return confirm('Desactivar este usuario?');">
                               {% csrf_token %}
                                <input type="hidden" name="delete" value="{{user.pk}}">
                                <input class="button is-danger" type="submit" value="DELETE">
                        </form>
                        {% endif %}
                        {% else %}
                        <form method="POST" action="" class="table-form"
                                onsubmit="return confirm('Reactivar este usuario?');">
                               {% csrf_token %}
                                <input type="hidden" name="reactivate" value="{{user.pk}}">
                                <input class="button is-warning" type="submit" value="Reactivar">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>