{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejumina</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
          integrity="sha384-HmYpsz2Aa9Gh3JlkCoh8kUJ2mUKJKTnkyC2Lzt8aLzpPOpnDe8KpFE2xNiBpMDou"
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/navbar.js' %}"
    ></script>
</head>
<body class="body">
{% include 'navbar.html' %}
<div class="content-body container">
{% block content %}
{% endblock %}
</div>
{% block dialog %}
{% endblock %}
<footer>
<div class="signature">
    <a href="mailto:webmaster@therealagustin.com"><u><i class="fa fa-copyright"></i>Ejumina</u></a>
</div>
</footer>
</body>
</html>