{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name=”viewport” content=”width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;” charset="UTF-8"/>
    <title>Ejumina</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
          integrity="sha384-HmYpsz2Aa9Gh3JlkCoh8kUJ2mUKJKTnkyC2Lzt8aLzpPOpnDe8KpFE2xNiBpMDou"
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/navbar.js' %}"
    ></script>
</head>
<body class="body">
{% include 'navbar.html' %}
<div class="content-body container">
{% block content %}
{% endblock %}
</div>
{% block dialog %}
{% endblock %}
<div class="modal {% if alert_msg %} is-active {% endif %}" id="alert-dialog">
    <div class="modal-background"></div>
          <div class="modal-card modal-content">
              <header class="modal-card-head">
                  <p class="modal-card-title">Aviso</p>
                  <span id='alert-close' class="close">&times;</span>
              </header>
              <div class="modal-card-body">
              {% for alert in alert_msg %}
                <p>{{alert}}</p>
              {% endfor %}
              </div>
          </div>
      </div>
</div>
{% include 'eventos/setups/modal_setup.html' with ModalName='alert' noBtn=1%}
<footer>
<div class="signature">
    <a href="mailto:webmaster@ejumina.com.py"><u><i class="fa fa-copyright"></i>Ejumina</u></a>
</div>
</footer>
<script nonce="{{request.csp_nonce}}">
    function stepOnUp(inp){
        inp.stepUp();
        inp.dispatchEvent(new Event('input'));
    }
    function stepOnDown(inp){
        inp.stepDown();
        inp.dispatchEvent(new Event('input'));
    }

</script>
</body>
</html>