{% load auth_extras %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{{back}}">
      <i class="fa fa-arrow-left"></i>
    </a>
    <a class="navbar-item" href="/">
      Bienvenido, {{usuario.first_name}}
    </a>

    <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/">
          Eventos
        </a>

        <div class="navbar-dropdown is-active">
          {% for evento in eventos %}
            <a class="navbar-item" href="/e/{{evento.slug}}">
              {{evento.name}}
            </a>
          {% endfor %}
        </div>
      </div>


      <a class="navbar-item" href="/personas">
        Personas
      </a>
      <a class="navbar-item" href="/importar">
        Importar Excel
      </a>
      {% if request.user|has_group:"admin" %}
      <a class="navbar-item" href="/usuarios">
        Usuarios
      </a>
      <a class="navbar-item" href="/listas">
        Listas
      </a>
      <a class="navbar-item" href="/admin">
        Admin Panel
      </a>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if not request.user.id %}
          <a class="button is-light" href="/accounts/login">
            Log in
          </a>
          {% else %}
          <a class="button is-light" href="/accounts/logout">
            Log out
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>