{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<div class="content-body container">
    <div class="promo-header">
    <h1 class="title is-1">ejumina</h1>
    <h2 class="subtitle is-2">Web para invitados</h2>
    </div>
    <hr>
    <div class="body-content container">
        <p> Este es un sitio de pruebas accesible a todo quien quiera probarlo. </p>
        <p> Si te interesa usar esta web en tu local, escríbenos a <a href="mailto:ejumina.py@gmail.com">ejumina.py@gmail.com</a></p>

    </div>
</div>

{% endblock %}